.ColorBox {
	width: 20%;
	height: 25%;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-bottom: -3.5px;
}

.box-content {
	position: absolute;
	width: 100%;
	left: 8px;
	bottom: 8px;
	padding: 10px;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
}

.copy-btn {
	width: 100px;
	height: 30px;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -15px;
	text-align: center;
	outline: none;
	background: rgba(225, 255, 255, 0.3);
	font-size: 1rem;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercases;
	border: none;
	opacity: 0;
	transition: all 0.4s ease-out;
}

.ColorBox:hover .copy-btn {
	opacity: 1;
}

.see-more {
	background: rgba(225, 255, 255, 0.3);
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 30px;
	width: 60px;
	text-align: center;
	color: #ffffff;
	line-height: 30px;
	text-transform: uppercase;
}
